.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d6d9dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-container{
  position:sticky;
  top: 0;

}
.logo-text{
  font-size: 4em;
  font-weight: bold;
  font-family: Georgia, serif;
}
.footer-container {
  color: rgb(234, 234, 234);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background:  rgb(221, 90, 57);
}

.home-container{
  color: rgb(221, 90, 57);
}
.not-found-text{
  color: crimson;
}